@import url('./reset.css');

html {
    font-size: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.main {
    width: 100vw;
    min-height: 100vh;
    height: max-content;
    background-color: #E5E5E5;
    background-image: url('/images/login.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.login {
    background-color: #ffffff;
    gap: 2rem;
    padding: 10rem 9rem 4rem 9rem;
}