@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  width: 100vw;
  min-height: 100vh;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #E5E5E5;
  background-image: url("/images/login.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.login {
  background-color: #ffffff;
  gap: 2rem;
  padding: 10rem 9rem 4rem 9rem;
  width: 48rem;
}

.title {
  font-weight: 700;
  color: #42505C;
  font-size: 5.4rem;
}

.description {
  font-weight: 400;
  color: #404040;
  font-size: 1.4rem;
}