@import url('./reset.css');

html {
    font-size: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.main {
    width: 100vw;
    height: 100vh;
    background-color: #E5E5E5;
    background-image: url('/images/login.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}